.initialPlanetAndQuestionData .ant-list-header .ant-list-item-meta-content {
    text-align: center;
    padding-left: 76px;
}

.ant-list-item-meta.vehicleName {
    .ant-list-item-meta-content {
      text-align: center;
    }
}