.ant-menu-item-selected {
    background-color: transparent !important;
}

.ant-menu-item:hover, .ant-menu-item:focus {
    background-color: transparent !important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background: black;
}